DEV_BASIC_AUTH_USERNAME=
DEV_BASIC_AUTH_PASSWORD=

LOGIN_FORM_PARAM_NAME_USER=mail
LOGIN_FORM_PARAM_NAME_PASSWORD=pass
LOGIN_USER=
LOGIN_USER_PASSWORD=

PROTOCOL=https
BASE_DOMAIN=example.com
DEV_SUBDOMAIN=dev
STG_SUBDOMAIN=stage

NODE_TLS_REJECT_UNAUTHORIZED=0
